/* body {
font-size: 28px;
} */

html,body{
    overscroll-behavior: none;
}

.mainDiv{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 20;
}

.mainDivOnList {
    outline-style: solid;
    outline-width: thin;
}

.list {
background-image: url('./diamond-plate.jpg');
text-align: center;
}

/* .listItem {
float: left;
} */

.listItemCart {
    position: absolute;
    /* float: right; */
    left: 95%;
}

.nav-a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* .nav-a:hover {
background-color: #111;
}

.active:hover {
background-color: #111;
} */
.active {
display: block;
color: white;
text-align: center;
padding: 2px 4px;
text-decoration: none;
}

.logo {
    margin: 0 auto;
    display: none;
}

.searchListItem {
  margin: auto;
  width: 40%;
  padding: 100px;

}

/* .searchDiv {
    padding: 20px;
} */

.inputSearch {
    width: 100%;
    /* padding: 50px; */
}

.ui.segment {
    padding: 0px;
}

/* .signupSegment {
    float: right;
   
} */

.signupListItem {
    /* margin-right: 100px; */
    float: right;
    
}