body {
font-size: 28px;
}

.mainDiv {
    z-index:10;
    background-color: #333;
    padding: 0;
}

.list {
list-style-type: none;
margin: 0;
background-color: #333;
position: sticky;
top: 0;
}

.listItem {
float: left;
}

.listItemCart {
float: right;

}

.nav-a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.nav-a:hover {
background-color: #111;
}

.active:hover {
background-color: #111;
}
.active {
background-color: #333;
display: block;
color: white;
text-align: center;
padding: 2px 4px;
text-decoration: none;
}

.logo {
    width: 70px;
}

.searchListItem {
  margin: auto;
  width: 40%;
  padding: 10px;

}

.searchDiv {
    padding: 20px;
}

.inputSearch {
    width: 100%;
    padding: 50px;
}

.ui.segment {
    padding: 0px;
}

.signupSegment {
    float: right;
   
}

.signupListItem {
    margin-right: 100px;
}